.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.Editor {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;

  &Toolbar {
    flex: 0;
    padding: 4px 8px;
  }
  &Container {
    flex: 1;
  }
}

.Result {
  overflow: scroll;
  grid-column: 2;
  grid-row: 1;
}

.Footer {
  padding: 4px 8px;
  grid-column: 1 / 3;
  grid-row: 2;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
  .Editor {
    grid-column: 1;
    grid-row: 1;
  }
  .Result {
    grid-column: 1;
    grid-row: 2;
  }
  .Footer {
    grid-column: 1;
    grid-row: 3;
  }
}

:global(.ant-list-item-meta) {
  margin-bottom: 8px;
}